// =================================================================================================
// ## TYPOGRAPHY
// =================================================================================================
// All typography styles.
//
// - Heading

// Heading
// -------------------------------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6, p, li, table, tr, td {
  font-family: 'Quicksand';
  color: $color-secondary-text;
}

.text {
  h1, h2, h3, h4, h5, h6, p, ul, table tr td {
    padding-bottom: .75rem;

    &:last-child { 
      margin-bottom: 0;
      padding-bottom: 0;
    }

    b, strong {
      font-weight: bold;
    }

    a {
      text-decoration: underline;
      color: $color-master;
    }

    u {
      text-decoration: underline;
    }
  }

  td {
    padding: .5rem;
  }

  table {
    margin-bottom: .75rem;

  }

  table, td {
    border: 1px solid $color-weak-text;
  }

  table tr td { 
    padding-bottom: 0;
    padding: .5rem;
    font-weight: normal;
  }

  ul {
    padding-left: 1.25rem;

    li {
      list-style: disc;
    }
  }
}

p, li {
  font-size: .875rem; 
  line-height: 1.25rem; 

  &.small {
    font-size: .75rem;
    line-height: 1.125rem; 
  }

  b {
    font-weight: bold;
    font-size: inherit;
  }
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 { 
  font-weight: bold;
  font-size: 1.125rem; 
  line-height: 1.5rem; 
}
