// =================================================================================================
// ## UTILS
// =================================================================================================
// Utils styles.
// - Section
// - Page Header
// - Padding
// - Card
// -- Orange
// -- Overflow
// -- Separator
// -- Badges
// - Card Linked
// -- Separator

// Section
// -------------------------------------------------------------------------------------------------
.page__header {
  h6 {
  }
}

// Page Header
// -------------------------------------------------------------------------------------------------
.page__header {
  h6 {
  }
}

// Padding
// -------------------------------------------------------------------------------------------------

.padding {
  padding: 0.625rem;
}

// Card
// -------------------------------------------------------------------------------------------------

.card {
  background-color: $color-white;
  border-radius: $border-radius-card;
  box-shadow: $box-shadow-card;
  width: 100%;

  & > div {
    padding: .5rem 1rem;

    &:first-child { padding-top: 1rem; }
    &:last-child { padding-bottom: 1rem; }
  }

  // Orange
  // -----------------------------------------------------------------------------------------------
  &.card--orange {
    background-color: $color-highlighted-02;
  }

  // Overflow
  // -----------------------------------------------------------------------------------------------
  &.card--overflow { 
    overflow: hidden;
    transform: translateZ(0);
  }

  // Separator
  // -----------------------------------------------------------------------------------------------
  .card__separator {
    padding: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 1px;
    background-color: $color-border-master;
  }

  // Badges
  // -----------------------------------------------------------------------------------------------
  .card__badges {
    display: flex;
  
    & > * {
      margin: 0 .125rem;

      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
  }
}

// Card Linked
// -------------------------------------------------------------------------------------------------
a.card {
  transition: border $animation-regular;
  border: 2px solid transparent;

  &:hover { border-color: $color-master; }

  & > div {
    padding: .5rem .875rem;

    &:first-child { padding-top: .875rem; }
    &:last-child { padding-bottom: .875rem; }
  }

  &:hover { border-color: $color-master; }

  // Card Linked Separator
  // -----------------------------------------------------------------------------------------------
  .card__separator {
    margin-left: .875rem;
    margin-right: .875rem;
  }
}