footer
    .footer__link
        .links__inner
            .footer-legal-links
                ul
                    li.item--mobile-only KazandıRio Yemek Koşulları:
                    //- li.item--native-link.item--mobile-link
                    //-     a(href="http://www.kazandirio.com") KazandıRio Yemek Nedir?
                    li
                        a(href="http://www.kazandirio.com") İletişim
                    //- li 
                    //-     a(href="http://www.kazandirio.com") Katılım Koşulları
                    //- li 
                    //-     a(href="http://www.kazandirio.com") Kullanım Şartları
                    li 
                        a(href="http://www.kazandirio.com") Gizlilik Politikası
                    li 
                        a(href="http://www.kazandirio.com") Kişisel Verilerinin Korunması
                    //- li 
                    //-     a(href="http://www.kazandirio.com") Bilgi Toplumu Hizmetleri
                    li 
                        a(href="http://www.kazandirio.com") Çerez Politikası
    .footer__content
        .content__inner
            .footer-description
                p Bu bir KazandıRio Projesidir:
                    a(href="http://www.kazandirio.com" target="__blank")  www.kazandirio.com
            .footer-copy
                p Copyright 2021 PepsiCo
            .footer-social
                ul
                    li 
                        a(href="http://www.kazandirio.com").social__facebook
                    li
                        a(href="http://www.kazandirio.com").social__instgram
                    li
                        a(href="http://www.kazandirio.com").social__twitter
                    li 
                        a(href="http://www.kazandirio.com").social__youtube