header
    .header__inner
        .inner__logo
            a(href='index.html')
                img(src='src/assets/media/logo.svg')
        .inner__nav
            ul 
                li 
                    a(href='about.html') KazandıRio Yemek Nedir?
                li 
                    a(href="javascript:;") İletişim