mixin -o-menu-card(title, description)
  .menu-card.padding
    .menu-card__card.card.card--overflow
      .card__image
        .image__wrapper
          img(src='https://picsum.photos/500/500')
        .image__badge
          +-a-badge('transparent', '20.03.2021 kadar')
      .card__text
        h6= title
        p= description
      .card__badges
        +-a-badge('old-price', '24,99 TL')
        +-a-badge('current-price', '21,99 TL')