mixin -o-native-mode-greeting(phone)
  .native-mode-greeting.padding
    .native-mode-greeting__card.card.card--orange
      div
        h6 👋🏻  Hoş Geldin!
        p Sana en yakın İndirimli Pepsi Menüleri burada!