include ../molecules/-m-list-profile.pug
include ../molecules/-m-list-menu.pug
include ../atoms/-a-badge.pug

mixin -o-restaurant-card(title, menu, price)
  .restaurant-card.padding
    a.restaurant-card__card.card(href="restaurant-single.html")
      .card__profile
        +-m-list-profile(title)
      .card__badges
        +-a-badge('succe ss', 'Açık')
        +-a-badge('failed', 'Kapalı')
        +-a-badge('by-walk', '10 dk')
      .card__description
        p Burada 
          span 3 indirimli 
          | menü seni bekliyor
      .card__menu
        +-m-list-menu(menu, price) 