include ../atoms/-a-profile-image.pug
include ../atoms/-a-badge.pug
include ../atoms/-a-circled-phone.pug

mixin -o-restaurant-profile
  .restaurant-profile.padding
    .restaurant-profile__card.card
      .card__profile-image
        .profile-image__wrapper
          +-a-profile-image('big')
      .card__title
        h6 Dominos Pizza Beyoğlu
      .card__badges
        +-a-badge('success', 'Açık')
        +-a-badge('failed', 'Kapalı')
        +-a-badge('by-walk', '10 dk')
      .card__separator
      .card__address
        p Cihangir Mahallesi, Mebusan Yokuşu. No: 95 Beyoğlu / İstanbul
      .card__phone
        +-a-circled-phone('0 (216) 396 87 66')
      .card__legal-text
        p.small Bilgilendirme: Siparişinizle ilgili durumlardan PepsiCo sorumlu değildir.
      .card__button-wrapper
        .card__button.card__button--call
          a.button.button--disabled(
            data-phone="+905325605655"
            data-market-id="1"
          )
            span.button__icon.button__icon--phone
            span.button__text Ara
        .card__button.card__button--geo
          a.button.button--disabled(
            data-latitude="41.0206072"
            data-longitude="29.0132218"
            data-from-latitude="40.9724733"
            data-from-longitude="29.1525506"
            data-market-id="1"
          )
            span.button__icon.button__icon--navigation
            span.button__text Yol Tarifi