mixin -o-result-filter
  form(type="get")#result-filter.result-filter
    .filter__title
      h6 9 Restoran Bulduk
    .filter__options
      p.options__title Sırala:
      input(name="sortType" type="hidden")
      .options__dropdown
        p.dropdown__selected 
          | Sırala: 
          span Mesafe
        .dropdown__options
          .options__button
            a.button.button--angular.button--angular-passive(data-value='distance')
              span.button__text Mesafe
          .options__button
            a.button.button--angular(data-value='AtoZ')
              span.button__text A'dan Z'ye
          .options__button
            a.button.button--angular.button--angular-passive(data-value='productPrice')
              span.button__text İndirimli