mixin -o-search-result-message(message, type)
  if type == 'tut'
    .search-result-message.padding
      .search-result-message__image
        img(src='src/assets/media/desktop-search-tut.svg')
        img(src='src/assets/media/mobile-search-tut.svg')
      .search-result-message__text
        p= message
  if type == 'not-found'
    .search-result-message.padding
      .search-result-message__image
        img(src='src/assets/media/desktop-search-not-found.svg')
        img(src='src/assets/media/mobile-search-not-found.svg')
      .search-result-message__text
        p= message