mixin -o-search-filter
  #search-filter.search-filter.padding
    form.card.search-filter__card
      .card__city
        select.city__selector.select2--error
          option
          option(vale="12" selected) Denizli
          option(vale="13") Ankara
          option(vale="14") Sakarya
          option(vale="15") İzmir
          option(vale="16") Malatya
          option(vale="17") Diyarbakır
          option(vale="18") Tokat
          option(vale="19") Samsun
          option(vale="20") Sivas
          option(vale="20") İstanbul
      .card__district
        select.district__selector
      .card__input
        input(type='text' placeholder='Restoran, yemek türüne göre ara… ' value="") 
      .card__submit
        button.button
          span.button__text Ara
    .card.search-filter__error
      p Arama yapabilmek için şehir ve ilçe/semt seçimi yapmalısın.
      