mixin -o-warning-box(phone)
  .warning-box.padding
    .warning-box__card.card
      img.icon(src='src/assets/media/icon-info.svg')
      div
        p İndirimden yararlanabilmek için siparişini KazandıRio Yemek aracılığı ile verdiğini belirtmeyi unutma!