include ../atoms/-a-badge.pug

mixin -m-list-menu(title, price)
  .list-menu
    .list-menu__image
      .image__wrapper
        img(src='https://picsum.photos/128/72')
    .list-menu__body
      .body__title
        p= title
      .body__price
        +-a-badge('old-price', '24,99 TL')
        +-a-badge('current-price', price)