include ../atoms/-a-profile-image.pug

mixin -m-list-profile(title)
  .list-profile
    .list-profile__image
      +-a-profile-image('small')
    .list-profile__title
      h6= title
    .list-profile__icon
      span
      