// =================================================================================================
// ## CONTAINER
// =================================================================================================
// All styles files imported here to manage them easier, do not forget to update comment when you
// change any of style files.
//
// - Body
// - Container
// - Section
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Large
// - Small

// Body
// -------------------------------------------------------------------------------------------------

#overlay-loading { display: none; }

body {
  font-size: 16px;
  font-family: 'Quicksand';
  background-color: $color-master-background;

  &.native-mode {
    header {
      display: none;
    }

    .container { 
      padding: 0;
      min-height: calc(100vh - 110px);
    }
  }

  &.touch-device {
    .card__phone { display: none !important; }
    .card__button--geo { display: block !important; }
    .card__button--call { display: block !important; }
  }
}

// Container
// -------------------------------------------------------------------------------------------------
.container {
  padding-top: calc(#{$layout-header-height} + 1.5rem);
  padding-bottom: 1.5rem;
  min-height: calc(100vh - #{$layout-header-footer-height});
}


// Container
// -------------------------------------------------------------------------------------------------
section {

  &, .fluid__inner {
    margin: 0 auto;
    width: 100%;
    max-width: $layout-max-width;
    box-sizing: border-box;
    padding: $layout-padding;
  }

  &.section--fluid {
    padding: 0;
    max-width: 100%;
  }
} 

// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================

// Large
@include respond-to('large') {

  // Container
  // -----------------------------------------------------------------------------------------------
  .container {
    padding-top: calc(#{$layout-medium-header-height} + 1rem);
    padding-bottom: 1rem;
    min-height: calc(100vh - #{$layout-medium-header-footer-height});
  }
}

// Small
@include respond-to('small') {

  // Body
  // -----------------------------------------------------------------------------------------------
  body {
    &.native-mode {
      .container { 
        padding: 0;
        min-height: 100vh;
      }
    }
  }

  // Container
  // -----------------------------------------------------------------------------------------------
  .container {
    padding-top: calc(#{$layout-small-header-height} + .5rem);
    padding-bottom: .5rem;
    min-height: auto;
  }
}

