// =================================================================================================
// ## LIST MENU
// =================================================================================================
// List Menu styles.
//
// - List Menu
// -- List Image
// -- List Body
// ---- Body Title
// ---- Body Price

// List Profile
// -------------------------------------------------------------------------------------------------
.list-menu {
  display: flex;
  min-height: 90px;

  & > div {
    display: flex;
    padding: 0 $layout-content-padding;

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
}

// List Image
// -------------------------------------------------------------------------------------------------
.list-menu__image {
  width: 6rem;

  .image__wrapper {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    border-radius: $border-radius-menu-image;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 10px);
      left: 50%;
      width: 100%;
      display: block;
    }
  }
}

// List Body
// -------------------------------------------------------------------------------------------------

.list-menu__body {
  width: calc(100% - 6rem);
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;

  .body__title { 
    width: 100%;

    p { 
      display: block;
      text-align: left;
      font-weight: bold;
      width: 100%;
    } 
  }

  .body__price {
    display: flex;

    & > * {
      margin: 0 .125rem;
    }
  }
}