// =================================================================================================
// ## LIST PROFILE
// =================================================================================================
// List Profile styles.
//
// - List Profile
// -- List ProfileTitle
// -- List Profile Icon

// List Profile
// -------------------------------------------------------------------------------------------------
.list-profile {
  display: flex;

  & > div {
    display: flex;
    align-items: center;
    padding: 0 $layout-content-padding;

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
}

// List Title
// -------------------------------------------------------------------------------------------------
.list-profile__title {
  flex-grow: 2;
}

// List ICon
// -------------------------------------------------------------------------------------------------

.list-profile__icon {
  span {
    width: 1rem;
    height: 1rem;
    position: relative;
    color: $color-very-weak-text;

    &::before {
      line-height: 1rem;
      text-align: right;
      font-family: 'icomoon';
      content: "\e902";
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}