// =================================================================================================
// ## ABOUT
// =================================================================================================
// About page styles.
//
// - About
// -- Inner
// --- Step
// --- Content
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Large

// About
// -------------------------------------------------------------------------------------------------
.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  // About Inner
  // -----------------------------------------------------------------------------------------------
  .about__inner {

    // Step
    // ---------------------------------------------------------------------------------------------
    .inner__step {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  
      &::after {
        content: "";
        flex: auto;
      }
  
      // Graph
      // -------------------------------------------------------------------------------------------
      & > div {
        box-sizing: border-box;
      }

      .step__graph { width: 12rem; }
      .step__content { 
        padding-left: 1rem;
        width: calc(100% - 12rem);
        display: flex;
        justify-content: center;
        flex-direction: column;

        p { display: block; }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================

// Large
@include respond-to('small-t') {

  // About
  // -----------------------------------------------------------------------------------------------
  .about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .about__inner {

      // Step
      .inner__step {
        flex-flow: column wrap;
    
        &::after {
          content: "";
          flex: auto;
        }
    
        // Graph
        // -------------------------------------------------------------------------------------------
        .step__graph { 
          padding-bottom: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;

          & > .step {
            width: 12rem;
          }
        }

        .step__content { 
          padding-left: 0;
          width: 100%;
        }
      }
    }
  }
}