// =================================================================================================
// ## HOME
// =================================================================================================
// Home styles.
//
// - Home Stepper
// -- Fluid Inner
// --- Inner Item
// - Search Results
// -- Restaurant Card
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Medium
// - Small
// - X Small

// Home Stepper
// -------------------------------------------------------------------------------------------------
.home-stepper {
 background-color: $color-white;

 // Fluid Inner
 // -----------------------------------------------------------------------------------------------
 .fluid__inner {
  padding: 0 .625rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &::after {
   content: "";
   flex: auto;
  }

  // Inner Item
  // ---------------------------------------------------------------------------------------------
  .inner__item {
   box-sizing: border-box;
   padding: 0 .625rem;
   box-sizing: border-box;
   width: 33.33%;
   position: relative;

   &:last-child {
    &:after {
     display: none;
    }
   }

   &:after {
    content: '';
    background-color: $color-border-master;
    position: absolute;
    right: 0;
    width: 1px;
    top: 1rem;
    height: calc(100% - 2rem);
   }
  }
 }
}

// Search Results
// -------------------------------------------------------------------------------------------------
.search-results {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;

 &::after {
  content: "";
  flex: auto;
 }

 // Restaurant Card
 // -----------------------------------------------------------------------------------------------
 .restaurant-card {
  box-sizing: border-box;
  width: 33.33%;
 }
}

// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================

// Medium
@include respond-to('medium') {
  
 // Home Stepper
 // -----------------------------------------------------------------------------------------------
 .home-stepper {
  background-color: transparent;

  // Fluid Inner
  // -----------------------------------------------------------------------------------------------
  .fluid__inner {

   // Inner Item
   // ---------------------------------------------------------------------------------------------
   .inner__item {
    &:after {
     display: none;
    }

    & > div {
     background-color: $color-white;
     border-radius: $border-radius-card;
     box-shadow: $box-shadow-card;
    }
   }
  }
 }

 // Search Results
 // -----------------------------------------------------------------------------------------------
 .search-results {

  // Restaurant Card
  // ---------------------------------------------------------------------------------------------
  .restaurant-card {
   width: 50%;
  }
 }
}

// Small
@include respond-to('small') {

 // Home Stepper
 // -----------------------------------------------------------------------------------------------
 .home-stepper {
  background-color: transparent;
  overflow: auto;

  // Fluid Inner
  // ---------------------------------------------------------------------------------------------
  .fluid__inner {
   font-size: 0;
   display: block;
   overflow: auto;
   white-space: nowrap;
   padding: 0rem;
   -webkit-overflow-scrolling: touch;

   .inner__item {
    display: inline-block;
    padding: 0rem;
    box-sizing: border-box;

    & > div {
     padding: 0;
     box-sizing: border-box;
     width: 250px;
    }
   }
  }
 }

 // Search Results
 // -----------------------------------------------------------------------------------------------
 .search-results {

  // Restaurant Card
  // ---------------------------------------------------------------------------------------------
  .restaurant-card {
   width: 100%;
  }
 }
}

// X Small
@include respond-to('x-small') {

 // Home Stepper
 // -----------------------------------------------------------------------------------------------
 .home-stepper {
  .fluid__inner {
   .inner__item {
    & > div {
     width: 200px;
    }
   }
  }
 }

 // Desktop Stepper
 // -----------------------------------------------------------------------------------------------
 .desktop-stepper {
  display: none !important;
 }

 // Mobile Stepper
 // -----------------------------------------------------------------------------------------------
 .mobile-stepper {
  display: block;
 }
}
