// =================================================================================================
// ## RESTAURANT SINGLE
// =================================================================================================
// Restaurant Single styles.
//
// - Restaurant Single
// -- Menus List
// --- Menu Card
// -- Profile
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Large
// - Small

// Search results
// -------------------------------------------------------------------------------------------------
.restaurant-single {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &::after {
    content: "";
    flex: auto;
  }

  // Menu List
  // -----------------------------------------------------------------------------------------------
  .restaurant-single__menu-list {
    width: calc(100% - 250px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &::after {
      content: "";
      flex: auto;
    }

    // Menu Card
    // ---------------------------------------------------------------------------------------------
    .menu-card {
      box-sizing: border-box;
      width: 50%;
    }
  }

  // Profile
  // -----------------------------------------------------------------------------------------------
  .restaurant-single__profile {
    width: 250px;
  }
}

// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================

// Large
@include respond-to('medium') {

  // Single
  // -----------------------------------------------------------------------------------------------
  .restaurant-single {
    padding: 0 .625rem;

    // Menu List
    // ---------------------------------------------------------------------------------------------
    .restaurant-single__menu-list {
      width: 100%;

      // Menu Card
      // -------------------------------------------------------------------------------------------
      .menu-card { width: 50%; }
    }

    // Profile
    // ---------------------------------------------------------------------------------------------
    .restaurant-single__profile {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 10;
      width: 100%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      & > div {
        padding: 0;
      }
    }
  }
}

// Small
@include respond-to('small-t') {

  // Single
  // -----------------------------------------------------------------------------------------------
  .restaurant-single {
    padding: 0 .625rem;

    // Menu List
    // ---------------------------------------------------------------------------------------------
    .restaurant-single__menu-list {
      width: 100%;

      // Menu Card
      // -------------------------------------------------------------------------------------------
      .menu-card { 
        width: 100%;
      }
    }
  }
}