mixin -a-badge(type, text)
  if type == 'success'
    .badge.badge--success
      p= text
  if type == 'failed'
    .badge.badge--failed
      p= text
  if type == 'by-walk'
    .badge.badge--by-walk
      p= text
  if type == 'transparent'
    .badge.badge--transparent
      p= text
  if type == 'current-price'
    .badge.badge--current-price
      p= text
  if type == 'old-price'
    .badge.badge--old-price
      p= text