mixin -a-profile-image(size)
  if size == 'small'
    .profile-image
      img(src='https://picsum.photos/36/36')
  if size == 'big'
    .profile-image.profile-image--large
      img(src='https://picsum.photos/72/72')