mixin -a-step(number, textFirst, textSecond, textAction, extra)
  .step
    if number == '1'
      .step__inner.step__inner--search
        .inner__number
          .number__bubble 1
        .inner__text
          p 
            b Restoran
          p veya 
            b Yemek
          P ARA!
    if number == '2'
      .step__inner.step__inner--select
        .inner__number
          .number__bubble 2
        .inner__text
          p 
            b Pepsili
          p Menülerden
          P SEÇ!
          p İndirimli
    if number == '3'
      .step__inner.step__inner--action
        .inner__number
          .number__bubble 3
        .inner__text
          p 
            b Arayıp
          p  Siparişini
          P VER!
  
