extends ../templates/-t-master.pug

include ../atoms/-a-step.pug
 
block vars
    - var title = 'About';
    - var pageId = 'about';

block yield
  section.about.padding
    .about__inner.card
      .inner__step
        .step__graph
          +-a-step('1')
        .step__content.text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut erat diam. Pellentesque eu enim vel felis molestie aliquam. Phasellus sit amet lobortis nibh, eu molestie diam. Duis purus turpis, ornare id maximus ut, porttitor non leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae felis placerat neque sodales scelerisque. Nam vel metus lobortis sapien pulvinar tempus at vitae eros.
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut erat diam. Pellentesque eu enim vel felis molestie aliquam. Phasellus sit amet lobortis nibh, eu molestie diam. Duis purus turpis, ornare id maximus ut, porttitor non leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae felis placerat neque sodales scelerisque. Nam vel metus lobortis sapien pulvinar tempus at vitae eros.
            li Deneme
            li Deneme
            li Deneme
            li Deneme
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut erat diam. Pellentesque eu enim vel felis molestie aliquam. Phasellus sit amet lobortis nibh, eu molestie diam. Duis purus turpis, ornare id maximus ut, porttitor non leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae felis placerat neque sodales scelerisque. Nam vel metus lobortis sapien pulvinar tempus at vitae eros.
  section.about.padding
    .about__inner.card
      .inner__step
        .step__graph
          +-a-step('2')
        .step__content.text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut erat diam. Pellentesque eu enim vel felis molestie aliquam. Phasellus sit amet lobortis nibh, eu molestie diam. Duis purus turpis, ornare id maximus ut, porttitor non leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae felis placerat neque sodales scelerisque. Nam vel metus lobortis sapien pulvinar tempus at vitae eros.
  section.about.padding
    .about__inner.card
      .inner__step
        .step__graph
          +-a-step('3')
        .step__content.text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut erat diam. Pellentesque eu enim vel felis molestie aliquam. Phasellus sit amet lobortis nibh, eu molestie diam. Duis purus turpis, ornare id maximus ut, porttitor non leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae felis placerat neque sodales scelerisque. Nam vel metus lobortis sapien pulvinar tempus at vitae eros.