extends ../templates/-t-master.pug

include ../atoms/-a-step.pug
include ../organisms/-o-native-mode-greeting.pug
include ../organisms/-o-warning-box.pug
include ../organisms/-o-search-filter.pug
include ../organisms/-o-result-filter.pug
include ../organisms/-o-restaurant-card.pug
include ../organisms/-o-search-result-message.pug

block vars
    - var title = 'Home';
    - var pageId = 'home';

block yield
  section.native-mode-greeting
    +-o-native-mode-greeting
  section.home-stepper.section--fluid
    .fluid__inner.loop.owl-carousel.owl-theme.owl-loaded.owl-drag
      .owl-stage-outer 
        .owl-stage
          .inner__item.owl-item
            +-a-step('1')
          .inner__item.owl-item
            +-a-step('2')
          .inner__item.owl-item
            +-a-step('3') 
  section
    +-o-search-filter
  section.result-filter-wrapper
    +-o-result-filter
  section
    +-o-warning-box
  section.search-results
    +-o-restaurant-card('Dominos Pizza', 'Pepsili Kanatlı Karışık Kova', '21,21 TL')
    +-o-restaurant-card('Pizza Dünya', 'Ice Tea ve Karışık Kumru', '17,25 TL')
    +-o-restaurant-card('Pizza Hut', 'Hamburger & PepsiMax', '19,65 TL')
    +-o-restaurant-card('Taxi Pizza', 'Ice Tea ve Karışık Kumru', '23,33 TL')
    +-o-restaurant-card('Taxi Pizza', 'Ice Tea ve Karışık Kumru', '23,33 TL')
    +-o-restaurant-card('Taxi Pizza', 'Ice Tea ve Karışık Kumru', '23,33 TL')
    +-o-restaurant-card('Dominos Pizza', 'Pepsili Kanatlı Karışık Kova', '21,21 TL')
    +-o-restaurant-card('Pizza Dünya', 'Ice Tea ve Karışık Kumru', '17,25 TL')
    +-o-restaurant-card('Pizza Hut', 'Hamburger & PepsiMax', '19,65 TL')
    +-o-restaurant-card('Taxi Pizza', 'Ice Tea ve Karışık Kumru', '23,33 TL')
    +-o-restaurant-card('Pizza Dünya', 'Ice Tea ve Karışık Kumru', '17,25 TL')
    +-o-restaurant-card('Pizza Hut', 'Hamburger & PepsiMax', '19,65 TL')
    +-o-restaurant-card('Taxi Pizza', 'Ice Tea ve Karışık Kumru', '23,33 TL')
  section.search-result-message
    +-o-search-result-message('"KAY" ile ilgili sonuç bulunamadı', 'not-found')
  section.search-result-message
    +-o-search-result-message('Bugün ne yemek istersin?', 'tut')