extends ../templates/-t-master.pug

block vars
    - var title = 'Legal';
    - var pageId = 'legal';

block yield
  section.legal.padding
    .card
      div.text
        h6 Katılım Koşulları
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut erat diam. Pellentesque eu enim vel felis molestie aliquam. Phasellus sit amet lobortis nibh, eu molestie diam. Duis purus turpis, ornare id maximus ut, porttitor non leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae felis placerat neque sodales scelerisque. Nam vel metus lobortis sapien pulvinar tempus at vitae eros.
        p Morbi fringilla eros nibh, id cursus odio volutpat sit amet. Ut ante magna, aliquam eu dui sed, cursus laoreet dolor. Vestibulum rhoncus mi porttitor risus finibus rhoncus. Morbi iaculis magna arcu, vel interdum metus iaculis in. Maecenas id sapien tincidunt est eleifend condimentum eget id mauris. Ut eget nulla quis elit venenatis ullamcorper ut vel lectus. Vivamus ut sagittis turpis. Donec venenatis, tellus ac finibus lobortis, magna erat congue justo, nec euismod augue ex sit amet purus. Vivamus ligula erat, malesuada vitae pharetra eu, rhoncus ac ipsum. Maecenas bibendum cursus ante sed luctus. Cras a erat cursus, gravida dolor id, dapibus nunc. Nullam nibh turpis, consequat non mauris eget, vestibulum scelerisque lorem. Aliquam erat volutpat. Quisque lorem leo, dictum non aliquet eget, consequat iaculis tellus. Cras sed porta metus. Cras ac odio eget quam iaculis eleifend.
        p In sodales facilisis velit, quis ultrices libero iaculis at. Duis pharetra enim et leo iaculis, vitae condimentum augue porta. Etiam tempor ac libero luctus rhoncus. In auctor ante in magna sagittis auctor. Vivamus eget molestie nunc. Maecenas a ante sagittis, tempor felis ut, vestibulum magna. Suspendisse ultrices diam at pretium varius. Curabitur cursus urna id tristique tincidunt. Duis rhoncus leo a risus tempor, eu rhoncus libero hendrerit. Quisque pretium arcu in turpis congue, gravida maximus nisi placerat. Quisque porttitor quam semper lectus mattis ullamcorper. Duis et quam condimentum nisi venenatis condimentum sit amet ac est. Nam pharetra dolor nec risus blandit, et varius elit tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tincidunt ante nibh, ac dapibus ligula faucibus et.
        table
          tr
            td Deneme1
            td Deneme2
          tr
            td Deneme1
            td Deneme2
          tr
            td Deneme1
            td Deneme2
          tr
            td Deneme1
            td Deneme2
          tr
            td Deneme1
            td Deneme2
          tr
            td Deneme1
            td Deneme2
        ul
          li Test1
          li Test1
          li Test1
          li Test1
          li Test1
          li Test1
          li Test1
          li Test1