extends ../templates/-t-master.pug

include ../organisms/-o-menu-card.pug
include ../organisms/-o-restaurant-profile.pug

block vars
    - var title = 'Restaurant Single';
    - var pageId = 'restaurant-single';

block yield
  section.restaurant-single-header
    .page__header.padding
        h6 İndirimli 3 Pepsi Menüsü Var!
  section.restaurant-single
    .restaurant-single__menu-list
      +-o-menu-card('Pepsili Kanatlı Karışık Kova', 'Kanat (6 Adet) + Çıtır Tavuk Topları (20 Adet) + Gurme Patates (200 gr.) + Tereyağlı Ekmek + Acı Sos + Meksika Sos')
      +-o-menu-card('Pepsili Kanatlı Karışık Kova', 'Kanat (6 Adet) + Çıtır Tavuk Topları (20 Adet) + Gurme Patates (200 gr.) + Tereyağlı Ekmek + Acı Sos + Meksika Sos')
      +-o-menu-card('Pepsili Kanatlı Karışık Kova', 'Kanat (6 Adet) + Çıtır Tavuk Topları (20 Adet) + Gurme Patates (200 gr.) + Tereyağlı Ekmek + Acı Sos + Meksika Sos')
      +-o-menu-card('Pepsili Kanatlı Karışık Kova', 'Kanat (6 Adet) + Çıtır Tavuk Topları (20 Adet) + Gurme Patates (200 gr.) + Tereyağlı Ekmek + Acı Sos + Meksika Sos')
      +-o-menu-card('Pepsili Kanatlı Karışık Kova', 'Kanat (6 Adet) + Çıtır Tavuk Topları (20 Adet) + Gurme Patates (200 gr.) + Tereyağlı Ekmek + Acı Sos + Meksika Sos')
    .restaurant-single__profile
      +-o-restaurant-profile