 // =================================================================================================
// ## BUTTON
// =================================================================================================
// Button styles.
//
// - Button
// -- Angular
// --- Text
// --- Passive
// -- Icon
// --- Navigation
// -- Text

// Button Icon
// -------------------------------------------------------------------------------------------------
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-master;
  padding: .5rem;
  border-radius: 1.125rem;
  transition: background-color $animation-regular;
  cursor: pointer;

  &:hover {
    background-color: $color-master-dark;
  }

  &.button--disabled {
    background-color: $color-button-disabled;
    cursor: default;
  }

  // Angular
  // -----------------------------------------------------------------------------------------------
  &.button--angular {
    min-width: 5.75rem;
    border-radius: $border-radius-badge-large;
    border: 2px solid $color-master;
    padding: .4375rem;
    text-align: center;
    transition: background-color $animation-regular, border-color $animation-regular;

    &:hover {
      border-color: $color-master-dark;
    }

    // Passive
    // ---------------------------------------------------------------------------------------------
    &.button--angular-passive {
      background-color: transparent;
      border-color: $color-very-weak-text;

      .button__text {
        color: $color-very-weak-text;
      }

      &:hover {
        background-color: transparent;
        border-color: $color-weak-text;

        .button__text {
          color: $color-weak-text;
        }
      }
    }

    // Text
    // ---------------------------------------------------------------------------------------------
    .button__text {
      font-weight: bold;
      color: $color-white;
      font-size: .75rem;
      line-height: 1rem;
    }
  }

  // Icon
  // ---------------------------------------------------------------------------------------------
  .button__icon {
    font-family: 'icomoon';
    height: 1rem;
    width: 1rem;
    position: relative;
    
    &::before {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      color: $color-white;
      font-size: .75rem;
      text-align: center;
    }

    &:first-child { margin-right: .5rem; }
    &:last-child { margin-left: .5rem; }

    &.button__icon--navigation:before {
      content: "\e90c";
    }

    &.button__icon--phone:before {
      content: "\e910";
    }
  }

  // Text
  // ---------------------------------------------------------------------------------------------
  .button__text {
    color: $color-white;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}