// =================================================================================================
// ## BADGE
// =================================================================================================
// Badge styles.
//
// - Badge
// -- Success, Failed, By Walk, Transparent commons.
// -- Success, Failed, By Walk commons.
// -- Success
// -- Failed
// -- By Walk
// -- Transparent
// -- Current Price & Old Price Commons
// -- Current Price
// -- Old Price


// Badge
// -------------------------------------------------------------------------------------------------
.badge {
  position: relative;

  // Success, Failed, By Walk, Transparent commons.
  // -----------------------------------------------------------------------------------------------
  &.badge--success,
  &.badge--failed,
  &.badge--by-walk,
  &.badge--transparent {
    position: relative;
    border-radius: $border-radius-badge;
    padding-top: 0;
    padding-right: .25rem;
    padding-bottom: 0;

    p {
      font-weight: bold;
      font-size: .625rem;
      line-height: 1.125rem;
      opacity: .75;
    }
  }

  // Success, Failed, By Walk commons.
  // -----------------------------------------------------------------------------------------------
  &.badge--success,
  &.badge--failed,
  &.badge--by-walk {
    padding-left: 1rem;

    &::before {
      font-family: 'icomoon';
      content: '';
      position: absolute;
      width: .5rem;
      height: 1.125rem;
      left: .25rem;
      font-size: .5rem;
      line-height: 1.125rem;
      text-align: center;
      color: $color-secondary-text;
      opacity: .75;
    }

    p {
      color: $color-secondary-text;
    }
  }

  // Success
  // -----------------------------------------------------------------------------------------------
  &.badge--success { 
    background-color: $color-highlighted-06;

    &::before { content: "\e908"; }
  }

  // Failed
  // -----------------------------------------------------------------------------------------------
  &.badge--failed { 
    background-color: $color-highlighted-07;

    &::before { content: "\e909"; }
  }

  // By Walk
  // -----------------------------------------------------------------------------------------------
  &.badge--by-walk { 
    background-color: $color-light-background;

    &::before { content: "\e913"; }
  }

  // Transparent
  // -----------------------------------------------------------------------------------------------
  &.badge--transparent {
    padding-left: .25rem;
    background-color: rgba($color-secondary-text, .75);

    &::before { display: none; }

    p { 
      color: $color-white;
    }
  }

  // Current Price & Old Price Commons
  // -----------------------------------------------------------------------------------------------
  &.badge--current-price,
  &.badge--old-price {
    padding: 0 .5rem;

    p {
      font-weight: bold;
      line-height: 1.75rem;
    }
  }


  // Current Price
  // -----------------------------------------------------------------------------------------------
  &.badge--current-price {
    border-radius: $border-radius-badge-large;
    background-color: $color-highlighted-02;

    p { color: $color-white; }
  }

  // Old Price
  // -----------------------------------------------------------------------------------------------
  &.badge--old-price {

    p { text-decoration: line-through; }
  }
}
