 // =================================================================================================
// ## CIRCLED PHONE
// =================================================================================================
// Circled phone styles.
//
// - Circled Phone

// Circled Phone
// -------------------------------------------------------------------------------------------------
.circled-phone {
  height: 1.25rem;
  display: flex;
  align-items: center;
  padding-left: 1.75rem;
  position: relative;

  &::before {
    color: $color-master;
    font-family: 'icomoon';
    position: absolute;
    content: "\e910";
    font-size: .75rem;
    line-height: 1.25rem;
    text-align: center;
    width: 1.25rem;
    height: 1.25rem;
    left: 0;
    top: 0;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid $color-master;
  }
}