// =================================================================================================
// ## PROFILE
// =================================================================================================
// Profile styles.
//
// - Profile
// -- Big size

// Profile
// -------------------------------------------------------------------------------------------------
.profile-image {
  background-color: $color-white;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $color-shape-background;

  img {
    width: 100%;
    display: block;
    margin: 0;
  }
}

// Profile
// -------------------------------------------------------------------------------------------------
.profile-image--large {
  width: 4.5rem;
  height: 4.5rem;
  border-width: 4px;
}