// =================================================================================================
// ## STEP
// =================================================================================================
// Step styles.
// - Step
// -- Step Inner
// --- Inner Number
// ---- Number Buble
// --- Inner Text
// ---- Text
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Medium
// - Small


// Step
// -------------------------------------------------------------------------------------------------
.step {
  // Step Inner
  // -----------------------------------------------------------------------------------------------
  .step__inner {
    display: flex;
    padding: 4rem 1rem 1.5rem 1rem;
    position: relative;
    overflow: hidden;

    &:before {
      font-family: 'icomoon';
      position: absolute;
      z-index: 1;
      width: 12rem;
      height: 12rem;
      font-size: 12rem;
      line-height: 12rem;
      color: $color-master-background;
      left: 60%;
      margin-left: -6rem;
      bottom: -2.5rem;
    }

    &.step__inner--search {
      &:before { content: "\e911"; }

      .inner__number {
        .number__bubble { background-color: $color-highlighted-02; }
      }
    }

    &.step__inner--select {
      &:before { content: "\e90f"; }

      .inner__number {
        .number__bubble { background-color: $color-highlighted-01; }
      }

      .inner__text {
        p {
          &:nth-child(4) {
            background-color: $color-highlighted-light-01;
            color: $color-highlighted-01;
            line-height: 1rem;
            padding: .5rem;
            border-radius: $border-radius-badge-large;
          }
        }
      }
    }

    &.step__inner--action {
      &:before { content: "\e910"; }

      .inner__number {
        .number__bubble { background-color: $color-highlighted-03; }
      }
    }

    // Inner Number & Text Commons
    .inner__number, .inner__text {
      position: relative;
      z-index: 2;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
    }

    // Inner Number
    // ---------------------------------------------------------------------------------------------
    .inner__number {
      width: 40%;
      align-items: flex-end;
      padding-right: .25rem;

      // Number Bubble
      // -------------------------------------------------------------------------------------------
      .number__bubble {
        width: 2.25rem;
        height: 2.25rem;
        text-align: center;
        line-height: 2.25rem;
        border-radius: 50%;
        font-size: 1.125rem;
        color: $color-white;
      }
    }

    // Inner Text
    // ---------------------------------------------------------------------------------------------
    .inner__text {
      width: 60%;
      flex-direction: column;
      padding-left: .25rem;

      // Text
      // -------------------------------------------------------------------------------------------
      p {
        &:nth-child(1),
        &:nth-child(2) { 
          &, b { 
            line-height: 1.75rem;
            font-size: 1.375rem;
          }
        }
        &:nth-child(1) { 
          padding-top: .25rem;
          text-align: left;
        }
        &:nth-child(2) { text-align: center; }
        &:nth-child(3) { 
          text-align: right;
          font-weight: bold;
        }

        &:nth-child(4) { 
          position: absolute;
          text-align: right;
          font-weight: bold;
          bottom: 100%
        }
      }
    }
  }
}

// Medium
@include respond-to('medium') {

  // Step
  // -------------------------------------------------------------------------------------------------
  .step {

    // Step Inner
    // -----------------------------------------------------------------------------------------------
    .step__inner {
      padding: 3rem 1rem 2.5rem 1rem;

      &:before {
        font-family: 'icomoon';
        position: absolute;
        z-index: 1;
        width: 12rem;
        height: 12rem;
        font-size: 12rem;
        line-height: 12rem;
        color: $color-master-background;
        left: 60%;
        margin-left: -6rem;
        bottom: -2.5rem;
      }

      // Inner Number & Text Commons
      .inner__number, .inner__text {
        position: relative;
        z-index: 2;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
      }

      // Inner Number
      // ---------------------------------------------------------------------------------------------
      .inner__number {
        width: 25%;
        align-items: flex-end;
        padding-right: .25rem;

        // Number Bubble
        // -------------------------------------------------------------------------------------------
        .number__bubble {
          width: 2.25rem;
          height: 2.25rem;
          text-align: center;
          line-height: 2.25rem;
          border-radius: 50%;
          font-size: 1.125rem;
          color: $color-white;
        }
      }

      // Inner Text
      // ---------------------------------------------------------------------------------------------
      .inner__text {
        width: 75%;
      }
    }
  }
}

// Small
@include respond-to('x-small') {

  // Step
  // -------------------------------------------------------------------------------------------------
  .step {

    // Step Inner
    // -----------------------------------------------------------------------------------------------
    .step__inner {
      padding: 2.5rem 1rem .5rem 1rem;

      &:before {
        width: 9rem;
        height: 9rem;
        font-size: 9rem;
        line-height: 9rem;
        margin-left: -4.6rem;
        bottom: -1.5rem;
      }
    }
  }
}
