// =================================================================================================
// ## MASTER FOOTER
// =================================================================================================
// Footer styles.
//
// - Footer
// -- Link
// --- Inner
// ---- Legal Links
// -- Content
// --- Inner
// ---- Description & Copy commons.
// ---- Description
// ---- Copy
// ---- Social
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Large
// - Small

// Footer
// -------------------------------------------------------------------------------------------------
footer {
  * { font-size: .75rem; }

  // Link
  // -----------------------------------------------------------------------------------------------
  .footer__link {
    background-color: $color-white;
    height: 45px;

    // Inner
    // ---------------------------------------------------------------------------------------------
    .links__inner {
      height: inherit;
      margin: 0 auto;
      padding: 0 $layout-padding;
      width: 100%;
      max-width: $layout-max-width;
      box-sizing: border-box;

      // Legal Links
      // -------------------------------------------------------------------------------------------
      .footer-legal-links {
        display: flex;
        height: inherit;
        justify-self: center;
        align-items: center;
        padding: 0 .625rem;
      
        li {
          font-weight: bold;
          padding: 0 .5rem 0 .5625rem;
          float: left;
          position: relative;

          &.item--native-link,
          &.item--mobile-only,
          &.item--mobile-link { 
            display: none;
          }
      
          &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: $color-very-weak-text;
            opacity: .5;
            left: 0;
          }
      
          &:nth-child(3),
          &:first-child {
            &::before {
              display: none;
            }
          }

          &:nth-child(3) {
            padding-left: .0rem;
          }

          &:first-child { 
            padding-left: 0;
          }
          &:last-child { padding-right: 0; }
      
          &, a {
            color: $color-very-weak-text;
          }
      
          a {
            font-weight: normal;
            display: block;
            transition: color $animation-regular;
      
            &:hover { color: $color-master; }
          }
        }
      }
    }
  }

  // Content
  // -----------------------------------------------------------------------------------------------
  .footer__content {
    background-color: $color-master-dark;
    height: 65px;

    // Inner
    // ---------------------------------------------------------------------------------------------
    .content__inner {
      display: flex;
      height: inherit;
      margin: 0 auto;
      padding: 0 $layout-padding;
      width: 100%;
      max-width: $layout-max-width;
      box-sizing: border-box;

      // Description, Copy & Social commons.
      // -------------------------------------------------------------------------------------------
      .footer-description,
      .footer-copy,
      .footer-social {
        padding: 0 .625rem;
        display: flex;
        align-items: center;
      }

      // Description & Copy commons.
      // -------------------------------------------------------------------------------------------
      .footer-description,
      .footer-copy {
        p { color: $color-alpha-text; }
      }

      // Description
      // -------------------------------------------------------------------------------------------
      .footer-description {
        flex-grow: 2;

        p {
          a { 
            color: $color-white;
            transition: color $animation-regular;
      
            &:hover { color: $color-master-background; }
          }
        }
      }

      // Copy
      .footer-copy {}

      // Social
      // -------------------------------------------------------------------------------------------
      .footer-social {

        li {
          float: left;
          display: block;
          padding-left: .625rem;
      
          &:first-child { padding-left: 0; }
        }
      
        a {
          background-color: $color-white;
          border-radius: 50%;
          display: block;
          width: 2.25rem;
          height: 2.25rem;
          position: relative;
          font-family: 'icomoon';

          &:hover::before { color: $color-master-dark; }
      
          &::before {
            content: '';
            font-size: 1rem;
            line-height: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            margin: .625rem;
            width: 1rem;
            height: 1rem;
            text-align: center;
            color: $color-master;
            transition: color $animation-regular;
          }
      
          &.social__facebook::before { content: "\e90a"; }
          &.social__instgram::before { content: "\e90b"; }
          &.social__twitter::before { content: "\e912"; }
          &.social__youtube::before { content: "\e914"; }
        }
      }
    }
  }
}

// Large
@include respond-to('large') {

  // Footer 
  // -----------------------------------------------------------------------------------------------
  footer {

    // Link
    // ---------------------------------------------------------------------------------------------
    .footer__link {
      height: auto;

      // Links Inner
      // -------------------------------------------------------------------------------------------
      .links__inner {

        // Legal Links
        // ---------------------------------------------------------------------------------------
        .footer-legal-links {
          padding-top: .5rem;
          padding-bottom: .5rem;
          height: auto;
          ul {
            width: 100%;  
            li {
              box-sizing: border-box;
              padding: 0;
              padding: 0 1rem;

              &::before { display: block; }

              &:nth-child(2) {
                &::before {
                    display: none;
                }
              }

              &:nth-child(3) {
                &::before {
                    display: block;
                }
              }

              &:first-child,&:nth-child(2) {
                padding-left: .0rem;
              }

              &:nth-child(3) {
                padding-left: 1rem;
              }

              &:last-child { padding-right: 0; }
  
              a { display: inline-block; }
            }
          }  
        }
      }
    }
  }
}

// Small
@include respond-to('small') {

  // Footer 
  // -----------------------------------------------------------------------------------------------
  footer {

    // Link
    // ---------------------------------------------------------------------------------------------
    .footer__link {
      height: auto;

      // Links Inner
      // -------------------------------------------------------------------------------------------
      .links__inner {

        // Legal Links
        // -----------------------------------------------------------------------------------------
        .footer-legal-links {
          li {
            width: 100%;
            padding: 0;
            margin-bottom: 1px;

            &.item--mobile-link,
            &.item--mobile-only {  display: block; }

            &:last-child { 
              margin-bottom: 0;

              &::before { display: none; }
            }

            &:nth-child(3),
            &:nth-child(4) {
              &::before { display: block; }
            }

            &:first-child {
              padding: .625rem 0;
            }

            &::before {
              position: absolute;
              bottom: -1px;
              width: 100%;
              height: 1px;
              display: block;
            }

            a { 
              padding: .625rem 0;
              display: block;
            }
          }
        }
      }
    }

    // Content
    // -------------------------------------------------------------------------------------------
    .footer__content {
        background-color: $color-master-dark;
        height: auto;

        // Inner
        // ---------------------------------------------------------------------------------------------
        .content__inner {
          display: flex;
          flex-wrap: wrap;

          // Description, Copy & Social commons.
          // -------------------------------------------------------------------------------------------
          .footer-description,
          .footer-copy,
          .footer-social {
            box-sizing: border-box;
            display: flex;
            align-items: center;
          }

          // Description
          // -------------------------------------------------------------------------------------------
          .footer-description {
            background-color: $color-master;
            width: 100%;
            height: 3rem;
            position: relative;

            &::before,
            &:after {
              content: '';
              position: absolute;
              width: .625rem;
              height: 100%;
              top: 0;
              background-color: $color-master;
            }

            &::before { left: -.625rem; }
            &::after { right: -.625rem; }

            p {
              width: 100%;
              display: block;

              a { 
                float: right;
              }
            }
          }

          // Copy
          // ---------------------------------------------------------------------------------------
          .footer-copy {
            width: 45%;
          }

          // Social
          // ---------------------------------------------------------------------------------------
          .footer-social {
            width: 55%;
            padding: .625rem;
            display: flex;
            justify-content: flex-end;

            li {
              float: left;
              display: block;
              padding-left: .625rem;
          
              &:first-child { padding-left: 0; }
            }
          
            a {
              width: 2rem;
              height: 2rem;

              &:hover::before { color: $color-master-dark; }
          
              &::before {
                margin: .5rem;
                width: .75rem;
                height: .75rem;
              }
          
              &.social__facebook::before { content: "\e90a"; }
              &.social__instgram::before { content: "\e90b"; }
              &.social__twitter::before { content: "\e912"; }
              &.social__youtube::before { content: "\e914"; }
            }
          }
        }
    }
  }
}

// Small
@include respond-to('x-small') {
  // Footer 
  // -----------------------------------------------------------------------------------------------
  footer {

    // Content
    // ---------------------------------------------------------------------------------------------
    .footer__content {

      // Inner
      // -----------------------------------------------------------------------------------------
      .content__inner {

        // Copy
        // ---------------------------------------------------------------------------------------
        .footer-copy { width: 40%; }

        // Social
        // ---------------------------------------------------------------------------------------
        .footer-social { width: 60%; }
      }
    }
  }
}
