// =================================================================================================
// ## MASTER HEADER
// =================================================================================================
// Header styles.
//
// - Header
// -- Inner
// --- Logo & Nav Commons
// --- Logo
// --- Nav
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Large
// - Small


// Header
// -------------------------------------------------------------------------------------------------
header {
  position: fixed;
  height: $layout-header-height;
  width: 100%;
  background-color: $color-master;
  box-shadow: $box-shadow-card;
  z-index: 99999;

  // Inner
  // -----------------------------------------------------------------------------------------------
  .header__inner {
    height: inherit;
    margin: 0 auto;
    padding: 0 $layout-padding;
    width: 100%;
    max-width: $layout-max-width;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    // Logo & Nav Commons
    // ---------------------------------------------------------------------------------------------
    .inner__logo,
    .inner__nav {
      display: flex;
      align-items: center;
      padding: 0 0.625rem;
    }

    // Logo
    // ---------------------------------------------------------------------------------------------
    .inner__logo {

      a {
        display: block;

        &, img {
          height: 3.75rem;
          display: block;
        }
      }
    }

    // Nav
    // ---------------------------------------------------------------------------------------------
    .inner__nav {
      ul {
        display: flex;
      }
    
      li {
        margin: 0 1.25rem;
    
        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }

        a {
          color: $color-white;
          font-size: 1rem;
          line-height: 1.25rem;
      
          &:hover { text-decoration: underline; }
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================

// Large
@include respond-to('large') {

  // Header
  // -----------------------------------------------------------------------------------------------
  header {
    height: $layout-medium-header-height;

    // Inner
    // ---------------------------------------------------------------------------------------------
    .header__inner {
    
      // Logo
      // -------------------------------------------------------------------------------------------
      .inner__logo {
        a {
          display: block;
  
          &, img {
            height: 2.75rem;
          }
        }
      }
    }
  }
}

// Small
@include respond-to('small') {

  // Header
  // -----------------------------------------------------------------------------------------------
  header {
    height: $layout-small-header-height;

    // Inner
    // ---------------------------------------------------------------------------------------------
    .header__inner {
    
      // Logo
      // -------------------------------------------------------------------------------------------
      .inner__logo {
        width: 100%;
        justify-content: center;

        a {
          display: block;
  
          &, img {
            height: 2.5rem;
          }
        }
      }

      // Nav
      // -------------------------------------------------------------------------------------------
      .inner__nav {
        display: none; // !TODO
      }
    }
  }
}