// =================================================================================================
// ## MENU CARD
// =================================================================================================
// Menu card styles.
//
// - Menu Card
// -- Card
// --- Image
// ---- Badge
// --- Text
// --- Badges

// Menu Card
// -------------------------------------------------------------------------------------------------
.menu-card {

  // Card
  // -----------------------------------------------------------------------------------------------
  .menu-card__card {
    display: block;
  
    // Image
    // ---------------------------------------------------------------------------------------------
    .card__image {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      position: relative;

      .image__wrapper {
        height: 0;
        padding-top: 56.25%;
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          transform: translate3d(-50%, -50%, 10px);
          left: 50%;
          width: 101%;
          display: block;
        }
      }

      // Image Badge
      // -------------------------------------------------------------------------------------------
      .image__badge {
        position: absolute;
        bottom: 1rem;
        right: .5rem;
      }
    }
  
    // Text
    // ---------------------------------------------------------------------------------------------
    .card__text {
      height: 5.25rem;

      h6 { padding-bottom: .25rem; }
    }

    // Badges
    // ---------------------------------------------------------------------------------------------
    .card__badges {
      justify-content: flex-end;
    }
  }
}