 // =================================================================================================
// ## NATIVE MODE GREETING
// =================================================================================================
// Native mode greeting styles.
//
// - Native mode greeting.
// -- Card

// Native mode greeting.
// -------------------------------------------------------------------------------------------------
.native-mode-greeting {

  // Card
  // -----------------------------------------------------------------------------------------------
  .native-mode-greeting__card {
    h6, p {
      color: $color-white;
    }
  }
}