// =================================================================================================
// ## RESTAURANT CARD
// =================================================================================================
// Restaurant card styles.
//
// - Restaurant Card
// -- Card
// --- Profile
// --- Badges
// --- Descirption

// Restaurant Card
// -------------------------------------------------------------------------------------------------
.restaurant-card {

  // Card
  // -----------------------------------------------------------------------------------------------
  .restaurant-card__card {
    display: block;
  
    // Profile
    // ---------------------------------------------------------------------------------------------
    .card__profile {
      padding-bottom: 0;
    }
  
    // Badges
    // ---------------------------------------------------------------------------------------------
    .card__badges {
      padding-top: 0;
      padding-left: 4.3125rem;
    }
  
    // Descirption
    // ---------------------------------------------------------------------------------------------
    .card__description {
      p {
        span {
          font-weight: bold;
        }
      }
    }
  }
}

