// =================================================================================================
// ## RESULT FILTER
// =================================================================================================
// Result filter styles.
//
// - Result Filter
// -- Title & Options commons.
// -- Title
// -- Options
// --- Title
// --- Dropdown
// ---- Selected
// ---- Options
// ----- Button
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Small


.card.search-filter__error {
  box-shadow: none;
  background-color: transparent;
  padding: 1rem;

  p { color: $color-highlighted-04; }

  &.search-filter__error--hide {
    display: none;
  }
}

.select2--error + .select2-container--default {
  .select2-selection__rendered {
    &, &:before { color: $color-highlighted-04 !important; }
  }

  .select2-selection__arrow {
    background-color: $color-highlighted-04 !important;
  }

  .select2-selection__placeholder {
    color: $color-highlighted-04 !important;
  }
}


.select2--empty + .select2-container--default {
  .select2-selection__rendered {
    &, &:before { color: $color-very-weak-text !important; }
  }

  .select2-selection__arrow {
    background-color: $color-very-weak-text !important;
  }

  .select2-selection__placeholder {
    color: $color-very-weak-text !important;
  }
}

// Result Fİlter
// -------------------------------------------------------------------------------------------------
.result-filter {
  width: 100%;
  display: flex;
  padding: 0 .625rem;
  justify-content: space-between;
  box-sizing: border-box;


  // Title & Options commons.
  .filter__title, .filter__options {
    display: flex;
    align-items: center;
  }

  // Title
  // -----------------------------------------------------------------------------------------------
  .filter__title {
    color: $color-very-weak-text
  }

  // Options
  // -----------------------------------------------------------------------------------------------
  .filter__options {

    // Title
    // ---------------------------------------------------------------------------------------------
    .options__title {
      padding-right: .5rem;
    }

    // Dropdown
    // ---------------------------------------------------------------------------------------------
    .options__dropdown {
      display: flex;

      // Selected
      // -------------------------------------------------------------------------------------------
      p.dropdown__selected { display: none; }

      // Options
      // -------------------------------------------------------------------------------------------
      .dropdown__options {
        display: flex;

        // Button
        // -----------------------------------------------------------------------------------------
        .options__button {
          padding-left: .5rem;
          display: flex;

          &:first-child { padding-left: 0; }
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================

// Medium
@include respond-to('small') {

  .card.search-filter__error {
    padding-top: 2rem ;
  }

  // Result Fİlter
  // -----------------------------------------------------------------------------------------------
  .result-filter {

    // Options
    // ---------------------------------------------------------------------------------------------
    .filter__options {

      // Title
      // -------------------------------------------------------------------------------------------
      .options__title {
        display: none;
      }

      // Dropdown
      // -------------------------------------------------------------------------------------------
      .options__dropdown {
        position: relative;

        &.options__dropdown--opened {
          p.dropdown__selected {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::before { transform: rotate(-180deg); }
          }

          .dropdown__options {
            display: block;
          }
        }

        // Selected
        // -----------------------------------------------------------------------------------------
        p.dropdown__selected {
          cursor: pointer;
          width: 134px;
          background-color: $color-master;
          color: $color-white;
          display: block;
          min-width: 5.75rem;
          border-radius: 1.1875rem;
          border: 2px solid $color-master;
          padding: .4375rem 1rem;
          text-align: left;
          transition: background-color $animation-regular, border-color $animation-regular;
          position: relative;

          &, span { font-size: .875rem; }

          &::before {
            font-family: 'icomoon';
            content: "\e904";
            position: absolute;
            width: .625rem;
            height: .625rem;
            font-size: .625rem;
            line-height: .625rem;
            top: 50%;
            margin-top: -.3125rem;
            right: .75rem;
            transition: transform $animation-regular;
          }
        }

        // Options
        // -----------------------------------------------------------------------------------------
        .dropdown__options {
          display: none;
          top: 39px;
          position: absolute;
          width: 100%;
          flex-direction: column;
          border-bottom-left-radius: $border-radius-card;
          border-bottom-right-radius: $border-radius-card;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          overflow: hidden;
          z-index: 100;
          box-shadow: $box-shadow-card;

          .options__button {
            padding: 0;

            &:last-child { 
              a.button.button--angular { border-bottom: 0; }
            }

            a.button.button--angular {
              background-color: $color-white;
              width: 100%;
              border: 0;
              padding: .4375rem 1rem;
              justify-content: flex-start;
              border-bottom: 1px solid $color-border-master;
              border-radius: 0;

              span { color: $color-master; }

              &.button--angular-passive { 
                .button__text {
                  color: $color-weak-text !important;
                }
              }
            }
          }
        }
      }
    }
  }
}