// =================================================================================================
// ## RESTAURANT PROFILE
// =================================================================================================
// Restaurant profile styles.
//
// - Restaurant Profile
// -- Restaurant Profile Card
// --- Card Profile Image
// --- Card Title
// --- Card Badges
// --- Card Address
// --- Card Legal Text
// --- Card Call Button
// --- Card Geo Button
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Medium

// Restaurant Profile
// -------------------------------------------------------------------------------------------------
.restaurant-profile {

  // Restaurant Profile Card
  // -----------------------------------------------------------------------------------------------
  .restaurant-profile__card {
    display: block;
  
    // Card Profile Image
    // ---------------------------------------------------------------------------------------------
    .card__profile-image {
      padding-top: 0;
      padding-bottom: .25rem;
      display: flex;
      justify-content: center;

      .profile-image__wrapper {
        margin-top: -2.5rem;
      }
    }
  
    // Card Title
    // ---------------------------------------------------------------------------------------------
    .card__title {
      padding-top: .25rem;
      padding-bottom: .25rem;
    }
  
    // Card Badges
    // ---------------------------------------------------------------------------------------------
    .card__badges {
      padding-top: .25rem;
      display: flex;
  
      span {
        display: block;
        background-attachment: $color-border-master;
        height: 1px;
      }
  
      & > * {
        margin: 0 .125rem;
  
        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }
      }
    }

    // Card Legal Text
    // ---------------------------------------------------------------------------------------------
    .card__legal-text {
      p { 
        font-weight: bold;
        color: $color-master;
      }
    }

    // Card Call Button
    // ---------------------------------------------------------------------------------------------
    .card__button--call {
      display: none;
    }

    .card__button-wrapper {
      & > div {
        padding: .5rem;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================

// Medium
@include respond-to('medium') {

  // Restaurant Profile
  // -----------------------------------------------------------------------------------------------
  .restaurant-profile {
    height: 94px;

    // Restaurant Profile Card
    // ---------------------------------------------------------------------------------------------
    .restaurant-profile__card {
      transition: transform ($animation-regular * 1.5);
      transform: translate3d(0, 0 , 0);

      &.restaurant-profile__card--closed {
        .card__title:after {
          display: none;
        }
      }

      &.restaurant-profile__card--expanded {
        transform: translate3d(0, calc(-100% + 94px), 0);

        .card__title {
          &:after {
            transform: rotate(180deg);
          }
        }
      }

      // Card Profile Image
      // ---------------------------------------------------------------------------------------------
      .card__profile-image {
        padding: 1rem .625rem 0rem 1rem;
        float: left;
        justify-content: center;
        width: 2.75rem;

        .profile-image__wrapper {
          margin-top: 0;

          .profile-image {
            width: 2.5rem;
            height: 2.5rem;
            border-width: 2px;
          }
        }
      }

      // Card Title
      // -------------------------------------------------------------------------------------------
      .card__title {
        width: calc(100% - 4.375rem);
        box-sizing: border-box;
        padding: 1rem 2rem 0rem 0rem;
        height: 3.75rem;
        display: flex;
        align-items: center;
        position: relative;

        &:after {
          position: absolute;
          right: 1rem;
          top: 1rem;
          font-family: 'icomoon';
          margin-top: 1rem;
          width: .75rem;
          height: .75rem;
          font-size: .75rem;
          line-height: .75rem;
          text-align: center;
          content: '\e907';
          color: $color-weak-text;
          transition: transform ($animation-regular * 1.5);
        }
      }

      // Card Title
      // -------------------------------------------------------------------------------------------
      .card__badges {
        padding-top: 0;
        padding-left: 4.375rem;
      }

      .card__button-wrapper {
        display: flex;

        & > div {

          &:first-child { padding-left: 0; }
          &:last-child { padding-right: 0; }

          width: 50%;
        }
      }

      // Card Phone
      // -------------------------------------------------------------------------------------------
      .card__phone {
        display: none;
      }
    } 
  }
}