// =================================================================================================
// ## SEARCH FILTER
// =================================================================================================
// Search filter styles.
//
// - Search Filter
// -- Card
// --- City and District commons
// --- City
// --- District
// --- Input
// --- Submit
//
//
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Large
// - Small


// Search filter
// -------------------------------------------------------------------------------------------------
.search-filter {
  padding-bottom: 2.5rem;

  // Card
  // -----------------------------------------------------------------------------------------------
  .search-filter__card {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    border-bottom-right-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;


    & > div {
      padding: 0;
    }

    // City and District commons
    // ---------------------------------------------------------------------------------------------
    .card__city, .card__district {
      min-width: 13rem;
      position: relative;
      max-width: 24rem;

      &::before {
        background-color: $color-border-master;
        position: absolute;
        right: 0;
        content: '';
        width: 1px;
        height: 1.875rem;
        margin-top: -0.9375rem;
        top: 50%;
        z-index: 1;
      }

      .select2-container {
        width: 100% !important;

        /* border-width: 1px;
        border-style: solid;
        border-top-color: $color-shape-background;
        border-right-color: $color-white;
        border-bottom-color: $color-white;
        border-left-color: $color-white; */

        &.select2-container--open {
          background-color: $color-white;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;

          .selection {
            .select2-selection {
              .select2-selection__arrow {
                transform: rotate(-180deg);
              }
            }
          }
        }

        .selection {
          .select2-selection {
            border: none;
            height: 60px;
            border-radius: 0;

            &:focus {
              outline: 0;
            }

            .select2-selection__rendered {
              height: 1.25rem;
              padding: 1.25rem 2.8125rem;
              line-height: 1.25rem;
              font-size: .875rem;
              color: $color-text;
              font-weight: bold;

              &, .select2-selection__placeholder {
                line-height: 1.25rem;
                font-size: .875rem;
              }

              .select2-selection__placeholder {
                color: $color-very-weak-text;
              }

              &::before {
                font-family: 'icomoon';
                content: "\e90d";
                position: absolute;
                width: 1.25rem;
                height: 1.25rem;
                color: $color-master;
                left: 1.25rem;
                font-size: 1.25rem;
                line-height: 1.25rem;
                text-align: center;
                top: 50%;
                margin-top: -.6125rem;
              }
            }

            .select2-selection__arrow {
              position: absolute;
              width: 1.25rem;
              height: 1.25rem;
              background-color: $color-master;
              border-radius: 50%;
              top: 50%;
              margin-top: -.6125rem;
              right: 1.25rem;
              transition: transform $animation-regular;

              &::before {
                color: $color-white;
                font-family: 'icomoon';
                content: "\e904";
                position: absolute;
                width: .625rem;
                height: .625rem;
                font-size: .625rem;
                text-align: center;
                line-height: .625rem;
                top: .3225rem;
                left: .3225rem;
              }

              b { display: none; }
            }
          }
        }
      }
    }

    // City
    // ---------------------------------------------------------------------------------------------
    .card__city {
      .select2-container {
        .selection {
          .select2-selection {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
          }
        }
      }
    }

    // District
    // ---------------------------------------------------------------------------------------------
    .card__district {}

    // Input
    // ---------------------------------------------------------------------------------------------
    .card__input {
      border-top-right-radius: 30px;
      flex-grow: 2;
      position: relative;
      background-color: $color-white;

      &::before {
        top: 0;
        font-family: 'icomoon';
        content: "\e911";
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        color: $color-very-weak-text;
        left: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.25rem;
        text-align: center;
        top: 50%;
        margin-top: -.6125rem;
        z-index: 5;
      }

      input {
        font-family: 'quicksand';
        position: relative;
        z-index: 10;
        width: 100%;
        box-sizing: border-box;
        height: 3.75rem;
        padding: 1.25rem 3rem;
        line-height: 1.25rem;
        font-size: .875rem;
        position: relative;
        font-weight: bold;
        font-family: 'Quicksand';

        @include placeholder {
          font-weight: normal;
          color: $color-very-weak-text;
        }
      }
    }

    // Submit
    // ---------------------------------------------------------------------------------------------
    .card__submit {
      position: absolute;
      right: $layout-padding;
      bottom: -1.125rem;

      .button {
        width: 7.125rem;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================

// Large
@include respond-to('large') {

  // Search filter
  // -----------------------------------------------------------------------------------------------
  .search-filter {

    // Card
    // ---------------------------------------------------------------------------------------------
    .search-filter__card {
      flex-wrap: wrap;
      

      // City and District commons
      // -------------------------------------------------------------------------------------------
      .card__city, .card__district {
        width: 50%;
        max-width: inherit;
      }

      // Card city
      // -------------------------------------------------------------------------------------------
      .card__city {
        .select2-container {
          .selection {
            .select2-selection {
              border-bottom-left-radius: 0;
            }
          }
        }
      }

      // District
      // -------------------------------------------------------------------------------------------
      .card__district {
        &::before { display: none; }

        .select2-container {
          .selection {
            .select2-selection {
              border-top-right-radius: 30px;
            }
          }
        }
      }

      // Input
      // -------------------------------------------------------------------------------------------
      .card__input {
        padding-top: 1px;
        width: 100%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        position: relative;

        &::after {
          content: '';
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $color-border-master;
        }
      }
    }
  }
}

// Small
@include respond-to('small') {

  // Search filter
  // -----------------------------------------------------------------------------------------------
  .search-filter {
    padding-top: 0;

    // Card
    // ---------------------------------------------------------------------------------------------
    .search-filter__card {

      // City and District commons
      // -------------------------------------------------------------------------------------------
      .card__city, .card__district {
        width: 100%;        
      }

      // Card city
      // -------------------------------------------------------------------------------------------
      .card__city, .card__district {
        &::before {
          display: block;
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          top: auto;
          margin: 0;
        }

        .select2-container {
          .selection {
            .select2-selection {
              border-top-right-radius: 30px;
            }
          }
        }
      }

      // Card city
      // -------------------------------------------------------------------------------------------
      .card__district {
        .select2-container {
          .selection {
            .select2-selection {
              border-top-right-radius: 0;
            }
          }
        }
      }

      // Card city
      // -------------------------------------------------------------------------------------------
      .card__input {
        &::after {
          display: none;
        }
      }

      // Card submit
      // -------------------------------------------------------------------------------------------
      .card__submit {
        bottom: -1.5rem;
      }
    }
  }
}