// =================================================================================================
// ## SEARCH RESULT MESSAGE
// =================================================================================================
// Search result message.
//
// - Search Result Message
// -- Image
// -- Text
//
// 
// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================
// - Large


// Search Result Message
// -------------------------------------------------------------------------------------------------
.search-result-message {

  // Image
  // -----------------------------------------------------------------------------------------------
  .search-result-message__image {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: .5rem;

    img {
      width: 100%;
      max-width: 18.75rem;
      display: block;

      &:last-child { display: none; }
    }
  }

  // Image
  // -----------------------------------------------------------------------------------------------
  .search-result-message__text {
    p {
      font-weight: bold;
      padding: .5rem;
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// # Responsive
// =================================================================================================

// Large
@include respond-to('large') {

  // Search Result Message
  // -----------------------------------------------------------------------------------------------
  .search-result-message {

    // Image
    // ---------------------------------------------------------------------------------------------
    .search-result-message__image {
      img {
        max-width: 20rem;

        &:first-child { display: none; }
        &:last-child { display: block; }
      }
    }
  }
}

// Large
@include respond-to('small') {

    // Search Result Message
  // -----------------------------------------------------------------------------------------------
  .search-result-message {

    // Image
    // ---------------------------------------------------------------------------------------------
    .search-result-message__image {
      img {
        max-width: 16rem;
      }
    }
  }
}
