 // =================================================================================================
// ## NATIVE MODE GREETING
// =================================================================================================
// Native mode greeting styles.
//
// - Native mode greeting.
// -- Card

// Native mode greeting.
// -------------------------------------------------------------------------------------------------
.warning-box {

  // Card
  // -----------------------------------------------------------------------------------------------
  .warning-box__card {
    position: relative;

    .icon {
      top: 50%;
      left: 1rem;
      position: absolute;
      margin-top: -.625rem;
    }

    div {
      padding-left: 3rem;
      padding-top: 1rem;
    }

    h6, p {
      font-weight: bold;
      color: $color-highlighted-04
    }
  }
}