// =================================================================================================
// ## FONTS
// =================================================================================================
// Font imports.
//
// - Quicksand


// Quicksand
// -------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');


// Iconmoon
// -------------------------------------------------------------------------------------------------

$roboto-font-path: '../fonts/';

@font-face {
  font-family: 'icomoon';
  src:  url("#{$roboto-font-path}/icomoon.eot?z9z1z2");
  src:  url("#{$roboto-font-path}/icomoon.eot?z9z1z2#iefix") format('embedded-opentype'),
    url("#{$roboto-font-path}/icomoon.ttf?z9z1z2") format('truetype'),
    url("#{$roboto-font-path}/icomoon.woff?z9z1z2") format('woff'),
    url("#{$roboto-font-path}/icomoon.svg?z9z1z2#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-up:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-check-solid:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-location-arrow-solid:before {
  content: "\e90c";
}
.icon-location-outline:before {
  content: "\e90d";
}
.icon-location:before {
  content: "\e90e";
}
.icon-percent:before {
  content: "\e90f";
}
.icon-phone-alt-solid:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-walk:before {
  content: "\e913";
}
.icon-youtube:before {
  content: "\e914";
}
