// =================================================================================================
// ## MIXINS
// =================================================================================================
// Useable mixins.
// 
// - Respond To
// - Clearfix
// - Placeholder


// Respond to
// -------------------------------------------------------------------------------------------------

@mixin respond-to($breakpoint) {

  @if map-has-key($layout-breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($layout-breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoint)}.";
  }
}


// Clearfix
// -------------------------------------------------------------------------------------------------

@mixin clearfix {
  &:after {
      content: "";
      display: table;
      clear: both;
  }
}

// Placeholder
// -------------------------------------------------------------------------------------------------
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}
