// =================================================================================================
// ## VARIABLES
// =================================================================================================
// - Colors
// - Shadows
// - Radius
// - Layout
// - Animation

// Colors
// -------------------------------------------------------------------------------------------------
$color-white : #fff;

$color-text: #0b0b0b;
$color-secondary-text: #2b2d32;
$color-weak-text: #666666;
$color-very-weak-text: #808184;
$color-alpha-text: #8c9bbe;

$color-master: #2751b8;
$color-master-dark: #1A377E;

$color-button-disabled: #848a96;

$color-border-master: #d8d8d8;

$color-shape-background: #ededed;

$color-master-background: #eee;
$color-light-background: #dde1e1;

$color-highlighted-01: #4CB0D0;
$color-highlighted-light-01: #dbeff6;
$color-highlighted-02: #EE6530;
$color-highlighted-03: #FFCC3D;
$color-highlighted-04: #f55c5c;
$color-highlighted-05: #6cf69b;
$color-highlighted-06: #c9fada;
$color-highlighted-07: #f66767;

// Shadow
// -------------------------------------------------------------------------------------------------
$box-shadow-card: 0 2px 5px 0 rgba(36, 46, 66, 0.1);
$box-shadow-in-card: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

// Radius
// -------------------------------------------------------------------------------------------------
$border-radius-card: .625rem;
$border-radius-badge: .1875rem;
$border-radius-badge-large: .375rem;
$border-radius-menu-image: .3125rem;

// Layout
// -------------------------------------------------------------------------------------------------
$layout-max-width: 960px;
$layout-min-width: 320px;
$layout-padding: .625rem;
$layout-content-padding: .3125rem;

$layout-header-height: 100px;
$layout-footer-height: 110px;
$layout-header-footer-height: 258px;

$layout-medium-header-height: 80px;
$layout-medium-header-footer-height: 258px;

$layout-small-header-height: 60px;
$layout-small-header-footer-height: 258px;


$layout-breakpoints: (
  'xx-small':  374px,
  'x-small':  479px,
  'small-t': 639px,
  'small':  767px,
  'medium':  939px,
  'large': 1023px,
);

// Animation
// -------------------------------------------------------------------------------------------------
$animation-regular: 250ms;


