doctype html
html
    head
        block vars
        title KazandıRio Yemek - #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="apple-touch-icon-precomposed" sizes="57x57" href="src/assets/media/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon-precomposed" sizes="114x114" href="src/assets/media/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon-precomposed" sizes="72x72" href="src/assets/media/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon-precomposed" sizes="144x144" href="src/assets/media/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon-precomposed" sizes="60x60" href="src/assets/media/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon-precomposed" sizes="120x120" href="src/assets/media/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon-precomposed" sizes="76x76" href="src/assets/media/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon-precomposed" sizes="152x152" href="src/assets/media/apple-touch-icon-152x152.png")
        link(rel="icon" type="image/png" href="src/assets/media/favicon-196x196.png" sizes="196x196")
        link(rel="icon" type="image/png" href="src/assets/media/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="src/assets/media/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="src/assets/media/favicon-16x16.png" sizes="16x16")
        link(rel="icon" type="image/png" href="src/assets/media/favicon-128.png" sizes="128x128")
        meta(name="application-name" content="KazandıRio Yemek")
        meta(name="msapplication-TileColor" content="#FFFFFF")
        meta(name="msapplication-TileImage" content="src/assets/media/mstile-144x144.png")
        meta(name="msapplication-square70x70logo" content="src/assets/media/mstile-70x70.png")
        meta(name="msapplication-square150x150logo" content="src/assets/media/mstile-150x150.png")
        meta(name="msapplication-wide310x150logo" content="src/assets/media/mstile-310x150.png")
        meta(name="msapplication-square310x310logo" content="src/assets/media/mstile-310x310.png")
        
        script.
            window.AJAX = {
                district: 'https://yemek.kazandirio.com/localities/',
                analyticsPhone: 'https://yemek.kazandirio.com/analytics/market/phone-call',
                analyticsNavigateMap: 'https://yemek.kazandirio.com/analytics/market/navigate-map'
            }
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-99036314-2', 'auto');
            ga('send', 'pageview');
    body(id=pageId)
        include ../organisms/-o-header.pug
        div(class="container")
            block yield
        include ../organisms/-o-footer.pug
        div(id="overlay-loading" style="background-color:#2751b8; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;")
        link(rel="stylesheet", href="src/assets/styles/app.min.css")
        script(rel="text/javascript", src="src/assets/scripts/app.min.js")
